/* This is for screen devices */

/*
1. Imports are first
2. General Style Rules 
3. Mobile First Devices
4. Larger Screen Sizes (Media Query Required)*/

/* 1. Import Statements */
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* 2. General Style Rules  */
html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }

/* 2.1 Typography Section */
h3,h4,h5,h6{
    font-family: Sansita, Helvetica, verdana, sans-serif;
    font-size: 18px;
}
h1{ font-family: Sansita;
    font-size: 18px;
    background-color: #0e89d5;

}
h2 {font-family: Sansita;
    font-size: 30px;
}

ul#menu {
    padding:0px;
    margin:0px;
    list-style:none;
}
ul#menu li { display: inline; }
body{
    font-family: helvetica, sans-serif;
    font-size: 18px;
}
#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}
.temps1 {    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    width: 220px;
    height: 220px;
    
}
.temps2 {    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    width: 220px;
    height: 220px;
    
}
.temps3 {    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    width: 220px;
    height: 220px;
}
/* 3. Mobile Rules */
.site-brand{
    font-size: 5vw;
}