/* This style sheet is for screen devices */

/* 
1. Imports
2. General Style Rules
3. Mobile First Devices
4. Larger Screen Size (Media Query Required) */

/* 1. Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('/weather/css/normalize.css');

/* 2. General Style Rules */
html {
    box-sizing: border-box;
    margin-left: 5px;
   }
*, *:before, *:after{
    box-sizing: inherit;
}
#background{
    background-image: url("/weather/images/background-pic.jpg");
    background-color: #0e89d5;
    background-position: center;
}

.tile{
    background-color: rgba(200,200,200,.6);
    width: 50%;
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
}
nav ul{ 
    display: flex; 
    justify-content: space-around;
    list-style: none;
    
  }
footer{
    margin-bottom: 2em;
}
#city{
    margin-top: 10px;
}
.current{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* 2.1 Typography Section */
h1, h2, h3, h4, h5, h6 {
    font-family: sansita, sans-serif;
    color:#0e89d5;
}
body{
    font-family: helvetica, sans-serif;
    font-size: 18px;
}
#site-brand {
    font-family: sansita, sans-serif;
    font-size: 50pt;
    font-weight: 600;
    color:#0e89d5;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.info{
    font-weight: bold;
}
#current_temp{
    font-size: 50pt;
}
#high_temp{
    color: red;
}
#low_temp{
    color: blue;
}
/* 2.2 Lists Section */
dl{
    /* display: flex; */
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
}
dt{
    margin:0;
    font-size: 4vw;
}
dd{
   margin-left: 0;
   margin-right: 10px;
   font-size: 4vw;
   /* flex-wrap: nowrap; */
}
ul { 
    list-style: none; 
    padding-left: 0;
}
#high_temp, #low_temp{
    display: inline-block;
    list-style: none;
}
/* 2.3 Image Section */
img{
    width: 50%; 
    height: 50%;
}
/* 3. Mobile Rules */
#site-brand{
    font-size: 7vw;
}
#cur_wind, #cur_temp{
    visibility: hidden;
    margin: 0;
    line-height: 0;
}
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
  }
  nav ul li{
    display: inline;
    /* align-items: space-around; */
    /* border: 2px dashed black; */
    margin: 2pt;
}

    


/* 4. Larger Screen */
@media screen and (min-width: 720px) {
    nav {
        position: initial;
        /* bottom: 0;
        left: 0; */
        background: white;
    }
    nav ul li{
        /* border: 2pt; */
    }
    ul{
        margin-right: 2pt;
        justify-content: flex-start;
    }
    #cur_wind, #cur_temp{
        visibility: visible;
        margin: 10px;
        line-height: 1.15;
    }
    #background{
        display: flex;
        justify-content: space-around;
    }
    
}
